.page-info-container{
    display: flexbox;
    align-items: center;
}
.page-info-item{
    display: flex;
    max-width: 500px;
    flex-direction: column;
    border: 2px;
    border-color: black;
    border-style: solid;
    border-radius: 10px;
    margin: 15px;
}
.mat-grid-list{
    width: 100%;
    height: 100%;
}
.mat-grid-tile{
    font-size: calc(10px + 1vh + 1vw);
    border: 1px;
    border-color: white;
    border-style: solid;
    border-radius: 15px;
}