<div class="navbar row">
    <img mat-button [matMenuTriggerFor]="afterMenu" class="menu" src="assets/menu.png">
    <mat-menu #afterMenu="matMenu" xPosition="after">
        <button mat-menu-item *ngFor="let app of appService.apps" routerLink="{{app.route}}">
            {{app.name}}
        </button>
    </mat-menu>
    <div class="col"></div>
    <img class="logo" src="assets/wf-logo.png" routerLink="">
    <div class="col"></div>
    <img mat-button [matMenuTriggerFor]="beforeMenu" class="icon" src="assets/profile.png">
    <mat-menu #beforeMenu="matMenu" xPosition="before">
        <button mat-menu-item *ngFor="let app of profileAppService.apps" routerLink="{{app.route}}">
            {{app.name}}
        </button>
        <button mat-menu-item>Sign Out</button>
    </mat-menu>
</div>
<router-outlet></router-outlet>